<div class="col-md">
    <div class="col-6 w-auto h-auto">
        <div
        class="alert px-4 py-2 mb-0 is-valid"
        role="alert"
        data-mdb-color="warning"
        id="passwordConfirm-alert"
        >
            <ul class="list-unstyled mb-0">
                <li class="confirmReq">
                    <i class="fas fa-check text-success me-2"></i>
                    <i class="fas fa-times text-danger me-3"></i>
                    Your password must match</li>
            </ul>
        </div>
    </div>
</div>