{% extends 'base.html' %}

{% block content %}
<h1>{{ _('Reset Password') }}</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <div class="row g-2">
        <div class="col-md">
            <div class="form-floating mb-3">
                {{ form.password(class="form-control", id="floatingPW", placeholder="Password") }}
                {{ form.password.label(for="floatingPW") }}
                {% for error in form.password.errors %}
                <span style="color:red">{{ error }}</span>
                {% endfor %}
            </div>
        </div>
        <p>{{ form.show_pw(class="form-check-input", id="showPW", onclick="toggle('floatingPW')") }} {{ form.show_pw.label(for="showPW") }}</p>
        {% include "auth/_password_policy.html" %}
    </div>
    <br>
    <div class="row g-2">
        <div class="col-md">
            <div class="form-floating mb-3">
                {{ form.password_confirm(class="form-control", id="floatingPWConf", placeholder="Confirm Password") }}
                {{ form.password_confirm.label(for="floatingPWConf") }}
                {% for error in form.password_confirm.errors %}
                <span style="color:red">{{ error }}</span>
                {% endfor %}
            </div>
        </div>
        <div>{{ form.show_pw(class="form-check-input", id="showPWConf", onclick="toggle('floatingPWConf')") }} {{ form.show_pw.label(for="showPWConf") }}</div>
        {% include "auth/_password_confirm_policy.html" %}
    </div>
    <p>{{form.submit(class="btn btn-outline-primary")}}</p>
</form>

{% endblock %}