:root {
    --bs-body-font-family: Muli, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    --bs-body-font-size: 1rem;
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-header-color: #E0F2F1;

}

body {
    padding-top: 2rem;
}

.deleteFollowUnfollow{
    float:right
}

.postTable{
    padding: 0.3rem;
}

.wrong .fa-check
{
    display: none;
}

.good .fa-times
{
    display: none;
}
.valid-feedback,
.invalid-feedback {
  margin-left: calc(2em + 0.25rem + 1.5rem);
}

@media (min-width: 1100px) {
    .navbar-brand.abs
        {
            position: absolute;
            width: auto;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
        }
}

#searchBox{
    padding-right: 1rem;
}

#techTypeCol{
    width: 30%;
}


@media only screen and (max-width: 1200px) {
    #techNameCol {
      text-align: right;
    }
}

.resume-header, .resume-name, .job-title{
    font-family: Muli, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    text-transform: uppercase;
    color:#343a40;
}

section.resume-section {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    max-width: 75rem;
    color: #343a40;
}
section.resume-section .resume-section-content {
    width: 100%;
}
  
.dateCol{
    flex-direction: column;
    color: #6c757d;
}

.resume-name {
    font-size: calc(1.725rem + 2vw);
}
@media (min-width: 1200px) {
    .resume-name {
      font-size: 4rem;
    }
}

.subheading {
    text-transform: uppercase;
    font-size: 1.2rem;
    color:#6c757d
}

.job-desc {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.follow-unfollow{
    background-color: transparent;
    text-decoration: underline;
    border: none;
    color: blue;
    cursor: pointer;
}
follow-unfollow:focus{
    outline: none;
}

.post-span{
    margin-bottom: 0.3rem;
}

.resume-content{
    max-width: 75rem;
    margin-right:auto;
    margin-left:auto;
}


main{
    max-width: 100rem;
    margin-right:auto;
    margin-left:auto;
}
.articleTitle a {
color: grey;
text-decoration: none;
}

.articleTitle a:hover {
color: black;
}

.card-body{
    display: flex; 
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
}

.card-header, .alert{
    background-color: var(--bs-card-header-color);

}

#sidebar .card {
    margin-bottom: 10px;
}

.article{
    padding: 10px;
    margin-bottom: 4rem;
}

.articleInfo{
    margin-bottom: 2rem;
}

img {
    display:block;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    object-fit: cover;
    overflow: hidden;
}

pre{
    width: 90%;
    margin-left: auto;
    margin-right: auto; 
}

pre code{
    overflow-x: auto;
}