body {
    padding-top: 2rem;
}

.deleteFollowUnfollow{
    float:right
}

.postTable{
    padding: 0.3rem;
}

.wrong .fa-check
{
    display: none;
}

.good .fa-times
{
    display: none;
}
.valid-feedback,
.invalid-feedback {
  margin-left: calc(2em + 0.25rem + 1.5rem);
}

@media (min-width: 1100px) {
    .navbar-brand.abs
        {
            position: absolute;
            width: auto;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
        }
}

#searchBox{
    padding-right: 1rem;
}

#techTypeCol{
    width: 30%;
}

#techTable{
    width: 90%;
}