:root {
    /*background/border colours*/
    --navbar-color:#9DA9A9;/*E0F2F1*/
    --dropdown-color: #E0F2F1;
    --bs-card-header-color: #9DA9A9;
    --background-color: #ffffff;
    --text-area-color:#ffffff;
    --btn-outline-color: #007BFF;
    --btn-hover-color: #007BFF;

    /*font related*/
    --bs-body-font-family: Muli, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    --bs-body-font-size: 1rem;
    --text-color: #333;
    --text-secondary-color:#343a40;
    --text-tertiary-color:#6c757d;
    --link-color: grey;
    --navbar-text-color: #181818;
    --text-dark-color:#181818;
    --text-light-color:#5e5e5e;
    --navbar-hover-color:#112872a6;
    --hover-color:#112872a6;

    /*layout*/
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;

}

.dark-mode{
    /*background/border colours*/
    
    --navbar-outline-color:#a0a0a0;
    --background-color: #181818;
    --dropdown-color: #394547;
    --bs-card-header-color:#9DA9A9;
    --bs-card-body-color: #333;
    --text-area-color: #222222;
    --text-area-focus-color: #333;
    --btn-outline-color: #8fb5dd;
    --btn-hover-color: #8fb5dd;
    --pagination-btn-background: #384647;
    --pagination-disabled-background: #2C2C2C;
    --disabled-opacity: 0.6;
    --bs-body-color: #a5a9ac;

    /*font colours*/
    --text-color: #a0a0a0;
    --text-light-color: #E0F2F1;
    --text-secondary-color:#a0a0a0;
    --text-tertiary-color:#a5a9ac;
    --text-dark-color: #181818;
    --link-color:#CCCCCC;
    --hover-color: #FFFFFF;
    --disabled-text: #808080;
    --bs-navbar-active-color:#ffffff;
    --navbar-hover-color:#112872a6;
    --hover-color:#FFFFFF;
}   

/*Global Styles*/
body {
    padding-top: 2rem;
}

main{
    width: 100%;
    min-height: 100vh;
    /*max-width: 100rem;*/
    margin-right:auto;
    margin-left:auto;
}

i.bi{  
    vertical-align: -0.47em;
}

.form-control::placeholder {
    color: var(--text-color);
  }

a{
    color: var(--link-color)
}

a:hover {
    color: var(--hover-color);
}

.contentContainer{
    color: var(--text-color);
    background-color: var(--background-color);
}

main.dark-mode .btn-outline-primary{
    border-color: var(--btn-outline-color);
    color:var(--text-tertiary-color)
}

main.dark-mode .btn-outline-primary:hover,
main.dark-mode .btn-outline-primary:focus,
main.dark-mode .btn-outline-primary:active {
  background-color: var(--btn-hover-color); 
  color: var(--text-dark-color); 
  border-color: var(--btn-hover-color); 
}

.page-link{
    background: var(--pagination-btn-background);
    color:var(--link-color)
}

li.disabled span.page-link{
    background: var(--pagination-disabled-background);
    color:var(--disabled-text);
    opacity: var(var(--disabled-opacity));
    cursor: not-allowed;
}

input.form-control, textarea.form-control{
    background-color: var(--text-area-color);
    color:var(--text-color);
}

input.form-control:focus, textarea.form-control:focus{
    background-color: var(--text-area-focus-color);
    color:var(--text-color);
}

.dropdown-menu{
    background-color: var(--dropdown-color);
    color:var(--link-color)
}

.dropdown-item{
    background-color: var(--dropdown-color);
    color: var(--text-light-color);
}

.dropdown-item:active, .dropdown-item:focus, .dropdown-item:hover{
    background-color: var(--dropdown-color);
    color: var(--link-color)
}


/*Navbar*/
@media (min-width: 1100px) {
    .navbar-brand.abs
        {
            position: absolute;
            width: auto;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
        }
}

.navbar{
    background-color: var(--navbar-color);
    color:var(--navbar-text-color);
    border-color: var(--navbar-outline-color);
    --bs-navbar-hover-color:var(--navbar-hover-color)
}

.nav-link, .navbar-brand{
    color:var(--navbar-text-color);
}

.navbar-brand{
    padding-top: 0;
}

.navbar-nav.nav-link.active, .navbar-nav .nav-link.show .nav-link:hover .nav-link:focus{
    color: var(--navbar-hover-color);
}

#searchBox{
    padding-right: 1rem;
}

@media (max-width: 768px) {
    .navbar-collapse.collapse .nav-item.dropdown:has(.bi) {
        padding-top: 10px;
        padding-bottom: 20px;
    }  
}

@media (min-width: 768.01px) {
    .navbar-collapse.collapse .nav-item.dropdown:has(.bi) {
        padding-left: 15px;
        padding-right: 15px;
    }  
}



/*End of NavBar*/
/*End of Global*/


/*Microblog Related*/
.postTable{
    padding: 0.3rem;
}
/*End of Microblog*/

/*Password Requirements*/
.wrong .fa-check
{
    display: none;
}

.good .fa-times
{
    display: none;
}
/*End of Password Requirements*/

/*About Page*/
#techTypeCol{
    width: 30%;
}


@media only screen and (max-width: 1200px) {
    #techNameCol {
      text-align: right;
    }
}

/*Resume*/
.resume-header, .resume-name, .job-title{
    text-transform: uppercase;
    color:var(--text-secondary-color);
}

section.resume-section {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    max-width: 75rem;
    color:var(--text-secondary-color);
}
section.resume-section .resume-section-content {
    width: 100%;
}
  
.dateCol{
    flex-direction: column;
    color:var(--text-tertiary-color);
}

.resume-name {
    font-size: calc(1.725rem + 2vw);
}
@media (min-width: 1200px) {
    .resume-name {
      font-size: 4rem;
    }
}

.subheading {
    text-transform: uppercase;
    font-size: 1.2rem;
    color:#6c757d
}

.job-desc {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--text-color);
    text-align: var(--bs-body-text-align);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.resume-content{
    max-width: 75rem;
    margin-right:auto;
    margin-left:auto;
}

/*End of resume*/
/*End of About*/

/*Shared Styles*/
.follow-unfollow{
    background-color: transparent;
    text-decoration: underline;
    border: none;
    color: blue;
    cursor: pointer;
}
follow-unfollow:focus{
    outline: none;
}

.microblogPost, .articleBody, .comments {
    margin-bottom: 0.3rem;
}

.postAvatar, .commentAvatar{
    min-width: 36px;
}

/*End of Shared Styles*/

/*Blog*/
.articleTitle a {
color: var(--link-color);
text-decoration: none;
}

.articleTitle a:hover {
color: var(--hover-color);
}

.card-body{
    display: flex; 
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    background-color: var(--bs-card-body-color);
    color:var(--text-color);
}

.card-header, .alert{
    background-color: var(--bs-card-header-color);
    color:var(--text-dark-color)
}

#sidebar .card {
    margin-bottom: 10px;
}

.article{
    padding: 10px;
    margin-bottom: 4rem;
}

.articleInfo{
    margin-bottom: 2rem;
}

.navIcons{
    opacity: 100%;
}

/*Images embedded in the blog posts*/
img:not(.navIcons, .avatarImg)  {
    display:block;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    object-fit: cover;
    overflow: hidden;
}

pre{
    margin-left: 0;
    margin-right: auto; 
}

pre code, .hljs.python, .language-python.hljs {
    overflow-x: auto;
    background:none;
    background-color: var(--text-area-color);
    color:var(--text-light-color)
}

/*Draft badge from admin*/
.badge.text-bg-secondary {
 
    font-size: 1rem;
    vertical-align:middle;

}

#articleTagBadge{
    vertical-align:bottom;
}