<div class="articleTitle"><h1><a href="{{ url_for('blog.article', id=article.id) }}">{{ article.title }}</a></h1></div>
<div class="articleMetadata mb-2">
    <i>Posted by</i> {{ article.author.username }} on {{ moment(article.timestamp).format("MM/DD/YYYY") }} under
    {% for tag in g.get('tags',{})[article] %}
        <a href="{{ url_for('blog.tag', tag=tag) }}" class="btn btn-outline-primary btn-sm">{{ tag }}</a>
    {% endfor %}
</div>
{% if current_user.isAdmin %}
<div class="articleAdmin d-flex">
    <a href="{{ url_for('blog.edit', id = article.id) }}" class="btn btn-outline-primary btn-sm me-2">Edit</a>
    <a class="btn btn-outline-danger btn-sm" href="#deleteArticleModal{{ article.id }}" data-bs-toggle="modal">Delete</a>
</div>
{% endif %}

<!--Delete Modal-->
<div class="modal fade" id="deleteArticleModal{{ article.id }}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteModalLabel">{{ _('Confirm Delete') }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cancel"></button>
            </div>
            <div class="modal-body">
                {{ _('Are you sure you want to delete this post?') }} <br><br>
                <div class="vr"></div>
                {{ article.body|safe| truncate(500) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ _('Close') }}</button>
                <form action="{{ url_for('blog.delete', id = article.id) }}" method="post">
                    {{ emptyForm.hidden_tag() }}
                    {{ emptyForm.submit(value=_('Delete'), class="delete btn btn-outline-danger") }}
                </form>
            </div>
        </div>
    </div>
</div>