<div id="sidebar">
    <div class="card">
        <div class="card-header">About Chris</div>
        <div class="card-body d-flex flex-column">{% include "_sidebar_AboutChris.html" %}</div>
    </div>
    <div class="card" id="tags">
        <div class="card-header">Tags/Categories</div>
        <div class="card-body d-flex flex-column">
            {% for tag in g.get('all_tags',{}) %}
            <div class="tag mb-2 d-flex justify-content-center">
                <div class="tag-button">
                    <a href="{{ url_for('blog.tag', tag=tag.name) }}">{{ tag.name }}({{ tag.count_articles() }})</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
