{% extends "base.html" %}

{% block content %}

<div class="warpper" style="width: 700px; margin: auto">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <!--title-->
        <div class="form mb-3">
        {{ form.title.label() }}
        {{ form.title(class="form-control", id="blogPostTitle") }}
        </div>
        {% for error in form.title.errors %}
        <span style="color:red;">{{ error }}</span><br>
        {% endfor %}
        <!--body-->
        <div class="form mb-3">
        {{ form.body.label("Blog Post Body") }}
        {{ form.body() }}
        </div>
        {% for error in form.body.errors %}
        <span style="color:red;">{{ error }}</span><br>
        {% endfor %}
        <!--Tags-->
        <div class="form mb-3">
        {{ form.tags.label() }}
        {{ form.tags(class="form-control", id="blogPostTags") }}
        </div>
        {% for error in form.tags.errors %}
        <span style="color:red;">{{ error }}</span><br>
        {% endfor %}
        <!--Series Name-->
        <div class="form mb-3">
        {{ form.series.label() }}
        {{ form.series(class="form-control", id="seriesName") }}
        </div>
        {% for error in form.series.errors %}
        <span style="color:red;">{{ error }}</span><br>
        {% endfor %}
        <!--Series Order-->
        <div class="form mb-3">
        {{ form.seriesOrder.label() }}
        {{ form.seriesOrder(class="form-control", id="seriesName") }}
        </div>
        {% for error in form.seriesOrder.errors %}
        <span style="color:red;">{{ error }}</span><br>
        {% endfor %}

        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <!--Save -->
            {{ form.save(class="btn btn-outline-primary") }}
            <!--Submit-->
            {{ form.submit(class="btn btn-outline-primary") }}
        </div>
    </form>
    {{ ckeditor.load() }}
    {{ ckeditor.config(name="body") }}
</div>


{% endblock %}