{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-md-9">
        <div class="articleInfo">
            {% include "blog/_article_info.html" %}
        </div>
        <hr>
        {% if article.series %}
        {% include "blog/_series.html" %}
        {% endif %}
        {{ ckeditor.load_code_theme() }}
        <div class="articleBody text-break post-span">{{ article.body|safe }}</div>
        <br>
        <hr>
        <br>
        <div class="commentSection">
            <h1 id="comments">{{ _('Comments') }}</h1>
            <br>
            <!--Comment Submission Form-->
            <form action="" method="post">
                {{ commentForm.hidden_tag() }}
                {% if current_user.is_anonymous %}
                <div class="form-floating mb-3">
                    {{ commentForm.username(class="form-control", id="floatingInput", placeholder="Name") }}
                    {{ commentForm.username.label(for="floatingInput") }}
                    {% for error in commentForm.username.errors %}
                    <span style="color:red">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-floating mb-3">
                    {{ commentForm.email(class="form-control", id="floatingInput", placeholder="Email") }}
                    {{ commentForm.email.label(for="floatingInput") }}
                    {% for error in commentForm.email.errors %}
                    <span style="color:red">{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
                <div class="form-floating mb-3">
                    {{ commentForm.comment(class="form-control", id="floatingInput", placeholder="Comment") }}
                    {{ commentForm.comment.label(for="floatingInput") }}
                    {% for error in commentForm.comment.errors %}
                    <span style="color:red">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <p>
                        {{ commentForm.submit(class="btn btn-outline-primary") }}
                    </p>
                </div>
            </form>
            <!--Comments-->
            {% if comments %}
            <div id="articleComments">
                {% for comment in comments %}
                    {% include "blog/_comment.html" %}
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
    <div class="col-md-3">
        {% include "blog/_sidebar.html" %}
    </div>
    
</div>




{% endblock %}