{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-9">
    {% if current_user.isAdmin %}
    <div class="d-flex justify-content-end">
        <a class="btn btn-outline-primary" href="{{ url_for('blog.add') }}">Post Article</a>
    </div>
    {% endif %}
    {% for article in articles %}
        {% include "blog/_article_overview.html" %}
        <hr>
    
    {% endfor %}
    {% include "_pagination.html" %}
    </div>
    <div class="col-md-3">
        {% include "blog/_sidebar.html" %}
    </div>
    
</div>



{% endblock %}

