<nav aria-label="home-pagination">
    <ul class="pagination justify-content-center">
        {% if prev_url %}
        <li class="page-item">
            <a class="page-link" href="{{ prev_url }}">{{ _('Prev') }}
            </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <span class="page-link">{{ _('Prev') }}</span>
        </li>
        {% endif %}

        {% if next_url %}
        <li class="page-item">
            <a class="page-link" href="{{ next_url }}">{{ _('Next') }}</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <span class="page-link">{{ _('Next') }}</span>
        </li>
        {% endif %}
    </ul>
</nav>