<tr valign="top" >
    <td valign="top" id="techTypeCol">
        <b>{{ tech.techType }}:</b>
    </td>
    <td valign="top" id="techNameCol">
        {{ tech.techName }}
    </td>
    {% if current_user.admin %}
    <td>
        <div> 
            <button type="button" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal{{ tech.id }}">
                {{ _('Delete') }}
                </button>
        </div>
        <div class="modal fade" id="deleteModal{{ tech.id }}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="deleteModalLabel">{{ _('Confirm Delete') }}</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cancel"></button>
                    </div>
                    <div class="modal-body">
                        {{ _('Are you sure you want to delete?') }} <br><br>
                        <div class="vr"></div>
                        {{ tech.techName }} 
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ _('Close') }}</button>
                        <form action="{{ url_for('main.deleteTech', techID =tech.id) }}" method="post">
                            {{ form.hidden_tag() }}
                            {{ form.submit(value=_('Delete'), class="delete btn btn-outline-danger") }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </td>
    {% endif %}    
</tr> 
 