<p>Welcome to my first webapp! Back in 2022, I decided to take a chance and explore new areas for the next phase of my career. I decided on programming, an area that I have always been passionate about, but never fully figured out. I decided to take my time and start from the fundamentals, namely data structure and algorithms.  </p>

<p>Once I felt more comfortable with programming concepts, I decided to take the advice of numerous people online and offline who suggested I take on a project as it will enhance my learning and were they right!</p>

<p>I started creating this website in early 2023 and on June 13, 2023, this site went live. I am still adding more functionalities so make sure to check back to see what’s new!</p>

<p>I couldn’t have done it without my wife who was my emotional support person and she helped me through the entire journey by being there to listen to all the wins and setbacks, provide fresh perspectives, and helped me be kinder to myself. Her patience and love is what really powers this site and I could not have done it without her.</p>
