{% extends "base.html" %}

{% block content %}
    {% if form.post and admin %}
    <p>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <div class="form-floating mb-3">
            {{ form.post(class="form-control", placeholder="Post goes here!") }}
            </div>
            {% for error in form.post.errors %}
            <span style="color:red;">{{ error }}</span><br>
            {% endfor %}
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#msgModal">Submit</button>
                {{ form.submit(class="btn btn-outline-primary") }}
            </div>
        </form>
    </p>
    {% endif %}
   
    
{% endblock %}