{% extends "base.html" %}

{% block content %}
    {% if current_user.is_authenticated %}
    <h1>{{ _('Hi, %(username)s!', username=current_user.username) }}</h1>
    {% endif %}

    {% if form.post %}
    <p>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <div class="form-floating mb-3">
            {{ form.post(class="form-control", id="floatingPost", placeholder="Say Something!") }}
            {{ form.post.label(for="floatingPost") }}
            </div>
            {% for error in form.post.errors %}
            <span style="color:red;">{{ error }}</span><br>
            {% endfor %}
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                {% if not current_user.isVerified %}
                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#msgModal">Submit</button>
                {% elif current_user.isVerified %}
                {{ form.submit(class="btn btn-outline-primary") }}
                {% endif %}
            </div>
        </form>
    </p>
    {% endif %}
    <br>
    {% for post in posts %}
        {% include "_post.html" %}
    {% endfor %}
    <br>
    <nav aria-label="home-pagination">
        <ul class="pagination justify-content-center">
            {% if prev_url %}
            <li class="page-item">
                <a class="page-link" href="{{ prev_url }}">{{ _('Prev') }}
                </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link">{{ _('Prev') }}</span>
            </li>
            {% endif %}

            {% if next_url %}
            <li class="page-item">
                <a class="page-link" href="{{ next_url }}">{{ _('Next') }}</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link">{{ _('Next') }}</span>
            </li>
            {% endif %}
        </ul>
    </nav>
    <!--Modal for Users without confirmed email-->
    <div class="modal fade" id="msgModal" tabindex="-1" aria-labelledby="msgModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="msgModalLabel">{{ _('Email Confirmation Required') }}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cancel"></button>
                </div>
                <div class="modal-body">
                    {{ _('Please confirm your email from the Profile Page before posting') }} <br><br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ _('Close') }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}