{% extends "base.html" %}

{% block content %}
<table>
    <tr valign="top">
        <td>
            <img class="avatarImg" src="{{ user.avatar(128) }}">
        </td>
        <td>
            <h1>{{ _('User: %(username)s', username= user.username) }}</h1>
            {% if user.about_me %}
            <p>{{ _('About Me: %(about_me)s', about_me = user.about_me) }}</p>
            {% endif %}
            <p>{{ _('%(follower_count)d followers', follower_count=user.count_followers()) }},  {{ _('%(following_count)d following', following_count= user.count_following()) }}</p>
            <p>{{ _('Last Seen') }}: {{ moment(user.last_seen).calendar() }}</p>
            {% if user == current_user %}
            <p><a href="{{ url_for('main.edit_profile') }}">{{ _('Edit your profile') }}</a></p>
            {% elif not current_user.is_following(user) %}
            <p>
                <form action="{{ url_for('microblog.follow', username=user.username) }}" method="post">
                    {{ form.hidden_tag() }}
                    {{ form.submit(value=_("Follow"), class="btn btn-outline-primary") }}
                </form>
            </p>
            {% elif current_user.is_following(user) %}
            <p>
                <form action="{{ url_for('microblog.unfollow', username=user.username) }}" method="post">
                    {{ form.hidden_tag() }}
                    {{ form.submit(class="btn btn-outline-primary", value=_("Unfollow")) }}
                </form>
            </p>
            {% endif %}
            {% if not user.isVerified and user == current_user %}
            <p>
                <a href="{{ url_for('auth.confirm_registration_request') }}">Re-send Registration Confirmation</a>
            </p>
            {% endif %}
        </td>
    </tr>
</table>
<hr>
{% for post in posts %}
    {% include "microblog/_post.html" %}
{% endfor %}

{% include "_pagination.html" %}

{% endblock %}